# general python libraries
envparse==0.2.0
cachetools==2.0.1
jinja2==2.10
numba==0.39.0
structlog==18.1.0

# testing libraries
mock==2.0.0
moto==1.3.5
pytest==3.4.2
pytest-pspec==0.0.3

# data processing and machine learning libraries
numpy==1.14.1
altitude==0.1
bokeh==0.12.4
cython==0.26
dill==0.2.5
joblib==0.10.3
msgpack==0.5.1
msgpack_numpy==0.4.1
pandas==0.22.0
pvlib==0.4.3
pysolar==0.7
scipy==0.18.1

# AWS access libraries
boto3==1.7.52
